NODE_ENV=development
PORT=3001

DB_HOST=localhost
DB_PORT=5432
DB_NAME=pharmapos_dev
DB_USER=pharmapos
DB_PASS=secret

JWT_ACCESS_SECRET=change-me-min-32-characters-long!!
JWT_REFRESH_SECRET=change-me-min-32-characters-long!!
JWT_ACCESS_EXPIRY=8h
JWT_REFRESH_EXPIRY=30d

ELECTRON_IS_DEV=true
RENDERER_PORT=5173

PRINTER_TYPE=NONE
PRINTER_PORT=USB001
PAPER_WIDTH=80

BACKUP_PATH=./backups
BACKUP_KEEP_LAST=30
